<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<body>
    <%- include("partials/header") %>
    <div class="content-ctn">
        <%- include("partials/aside")%>
        <main>
            <h2>Title: <%= book.title %></h2>
            <p>Author: <%= book.author %></p>
            <p>Category: <%= book.categoryname %></p>
            <p>ISBN: <%= book.isbn %></p>
            <p>Price: $ <%= book.price %></p>
            <% if(book.description) { %>
                <p>Description: <%= book.description %></p>
            <% } %>
            <p>Stock: <%= book.stock %></p>
            <p>Supplier: <%= book.suppliername %></p>
            <div class="btn-ctn">
                <button id="edit-btn" data-book-id="<%= book.id %>" class="btn" type="button">Edit</button>
                <button id="cancel-btn" class="btn" type="button">Back</button>
            </div>
        </main>
    </div>
</body>
<script>
    const cancelBtn = document.getElementById("cancel-btn")
    cancelBtn.addEventListener("click", () => {
        window.location.href = "/"
    })

    const editBtn = document.getElementById("edit-btn")
    editBtn.addEventListener("click", () => {
        const bookid = editBtn.getAttribute("data-book-id")
        window.location.href = `/books/details/editBook/${bookid}`
    })

</script>
</html>