<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<body>
    <%- include("partials/header") %>
    <div class="content-ctn">
        <%- include("partials/aside")%>
        <main>
            <!-- BOOK CARD BEGINS -->
             <% allBooks.forEach((book) => { %>
                <div class="card">
                    <div class="card-top">
                        <div class="card-top-info">
                            <p class="bold"><%= book.title %></p>
                            <p>By <%= book.author %></p>
                        </div>
                        <button class="card-del-btn" data-book-id="<%= book.id %>"><img src="./icons/delete.svg" width="20" height="20"></button>
                    </div>
                    <div class="card-bottom">
                        <p>$ <%= book.price %></p>
                        <div class="card-bottom-btn-ctn">
                            <button class="card-detail-btn" data-book-id="<%= book.id %>"><img src="./icons/detail.svg" width="20" height="20"></button>
                            <button class="card-edit-btn" data-book-id="<%= book.id %>"><img src="./icons/bookedit.svg" width="20" height="20"></button>
                        </div>
                    </div>
                </div>
            <% }) %>
            <!-- BOOK CARD ENDS -->
        </main>
    </div>
</body>
</html>