<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<body>
    <%- include("partials/header") %>
    <div class="content-ctn">
        <%- include("partials/aside")%>
        <main>
            <!-- BOOK CARD BEGINS -->
             <% allBooks.forEach((book) => { %>
                <div class="card">
                    <div class="card-top">
                        <div class="card-top-info">
                            <p class="bold"><%= book.title %></p>
                            <p>By <%= book.author %></p>
                        </div>
                        <button class="card-del-btn"><img src="./icons/delete.svg" width="20" height="20"></button>
                    </div>
                    <div class="card-bottom">
                        <p>Rs <%= book.price %></p>
                        <div class="card-bottom-btn-ctn">
                            <button class="card-detail-btn" data-book-id="<%= book.id %>"><img src="./icons/detail.svg" width="20" height="20"></button>
                            <button class="card-edit-btn" data-book-id="<%= book.id %>"><img src="./icons/bookedit.svg" width="20" height="20"></button>
                        </div>
                    </div>
                </div>
            <% }) %>
            <!-- BOOK CARD ENDS -->
        </main>
    </div>
</body>
<script>
    const addBookCtn = document.querySelector(".add-book-ctn")
    const addCategoryCtn = document.querySelector(".add-category-ctn")

    addBookCtn.addEventListener("click", () => {
        window.location.href = "/categories/addBook"
    })

    addCategoryCtn.addEventListener("click", () => {
        window.location.href = "/categories/addCategory"
    })

    const showBookDetailBtns = document.querySelectorAll(".card-detail-btn")
    
    showBookDetailBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
            const bookId = +(btn.getAttribute("data-book-id")) // Convert from STR to INT
            window.location.href = `/books/${bookId}`
        })
    });

    const editBookBtns = document.querySelectorAll(".card-edit-btn")

    editBookBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
            const bookId = +(btn.getAttribute("data-book-id"))
            window.location.href = `/books/editBook/${bookId}`
        })
    })
    
</script>
</html>