<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<body>
    <%- include("partials/header") %>
    <table>
        <tr>
            <th>Name</th>
            <th>Contact</th>
        </tr>
        <% allSuppliers.forEach((supplier) => { %>
            <tr>
                <td><%= supplier.suppliername %></td>
                <td><%= supplier.contactinfo %></td>
                <td>
                    <img class="supplier-edit-btn" data-supplier-id="<%= supplier.id %>" src="/icons/edit.svg" width="20" height="20" alt="">
                    <img class="supplier-del-btn" data-supplier-id="<%= supplier.id %>" src="/icons/delete.svg" width="20" height="20" alt="">
                </td>
            </tr>
        <% }) %>
    </table>
    <div class="btn-ctn">
        <button id="add-supplier-btn" class="btn">Add Supplier</button>
        <button id="back-btn" class="btn">Back</button>
    </div>
</body>
<script>
    const backBtn = document.getElementById("back-btn")
    backBtn.addEventListener("click", () => {
        window.location.href = "/"
    })

    const deleteSupplierBtns = document.querySelectorAll(".supplier-del-btn")
    deleteSupplierBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
            const supplierid = btn.getAttribute("data-supplier-id")
            window.location.href = `/suppliers/delete/${supplierid}`
        })
    })

    const addSupplierBtn = document.getElementById("add-supplier-btn")
    addSupplierBtn.addEventListener("click", () => {
        window.location.href = "/suppliers/addSupplier"
    })

    const editSupplierBtns = document.querySelectorAll(".supplier-edit-btn")
    editSupplierBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
            const supplierid = btn.getAttribute("data-supplier-id")
            window.location.href = `/suppliers/edit/${supplierid}`
        })
    })
</script>
</html>